.Search-Container {
    background: #FFFFFF;
    padding: 3%;
    width: 80%;
    margin: -25% 7% 0 7%;
    position: absolute;
    z-index: 10;
    border-radius: 15px;
    box-shadow: 6px 6px 35px 0px #1028511C;
}

form {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 5% 0 5%;
}

.input-field {
    height: 50px;
    border: 1px solid #F0F0F0;
    background-color: #FAFBFE;
    border-radius: 8px;
    margin: 3% 3%;
    display: flex;
}

svg {
    color: #9CA3AF;
    width: 20px;
    height: 20px;
    margin: 15px;
}

.searchBtn {
    display: flex;
    height: 50px;
    margin: 3% 3%;
    font-size: 16px;
    line-height: 50px;
    width: 121px;
}

.searchBtn>svg {
    color: white;
    margin: 10px 6px;
    width: 26px;
    height: 26px;
}

.title {
    font-weight: 500;
    font-size: 18px;
    color: #102851;
    text-align: center;
}

.search-category{
    display: flex;
    justify-content: space-between;
}

.categoryItems {
    min-width: 175px;
    min-height: 125px;
    padding: 17px;
    background-color: #FAFBFE;
    border: 1px solid #FAFBFE;
    border-radius: 8px;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #ABB6C7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.categoryItems>img {
    width: 50px;
    height: 50px;
}

.categoryItems:hover{
    color: #2AA7FF;
    font-weight: 600;
    background: #2AA7FF14;
    border: 1px solid #2AA7FF
}

.categoryItems:focus {
    color: #2AA7FF;
    font-weight: 600;
    background: #2AA7FF14;
    border: 1px solid #2AA7FF
}