.container {
    display: flex;
    padding: 0 5% 5% 5%; 
    height: 90%;
}

.DoctorsImg {
    width: 100%;
    height: 100%;
}

.left-section {
    width: 50%;
    margin: 6rem 0;
}

.headline {
    font-weight: 500;
    width: 640px;
    height: 128px;
    font-size: 31px;
}

.headline>span {
    font-size: 56px;
    font-weight: 700;
}

.headline>span:nth-of-type(2){
    color: #2AA8FF;
}

.description{
    font-weight: 400;
    font-size: 20px;
    color: #5C6169;
    margin: 0 0 23px 0;
}

.right-section {
    width: 50%;
}